{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Glowing Inputs Login Form UI</title>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="{% static 'css/admin_login.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="login-form">
         <div class="text">
            LOGIN
         </div>
         <form action="{% url 'Master:admin_dashboard' %}" method="post">
            {% csrf_token %}
            <div class="field">
               <!-- <div class="fas fa-envelope"></div> -->
               <input type="text" placeholder="Admin Name" name="username">
            </div>
            <div class="field">
               <!-- <div class="fas fa-lock"></div> -->
               <input type="password" placeholder="Password" name="password">
            </div>
            <button type="submit">Submit</button>
         </form>
      </div>
   </body>
</html>