{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/movies.css' %}">
</head>
<body>
    <div class="container">
        {% if movies %}
        {% for movie in movies %}
            <div class="movie-card">
                <a href="{% url 'Master:moviedetails' movie.id %}"><img src="{{ movie.image }}" alt="{{ movie.title }}"></a>
                <div class="movie-info">
                    <h2>{{ movie.title }}</h2>
                    <p>{{ movie.release_date }}</p>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        {% if series %}
        {% for series in series %}
        <div class="movie-card">
            <a href="{% url 'Master:seriesdetails' series.id %}"><img src="{{ series.image }}" alt="{{ series.title }}"></a>
            <div class="movie-info">   
                <h2>{{ series.title }}</h2>
                <p>{{ series.genre}}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if animes %}
        {% for anime in animes %}
        <div class="movie-card">
            <a href="{% url 'Master:animedetails' anime.id %}"><img src="{{ anime.image }}" alt="{{ anime.title }}"></a>
            <div class="movie-info">   
                <h2>{{ anime.title }}</h2>
                <p>{{ anime.genre}}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        </div>
</body>
    
</html>