{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <h1><a href="{% url 'home' %}">Review Point</a></h1>
            {% if data %}
                {{pass}}
            {% elif users %}
            <a href="{% url 'Master:addUser' %}"><button>Add User</button></a>
            {% elif movies %}
            <a href="{% url 'Master:addmoviesform' %}"><button>Add movies</button></a>
            {% endif %}
        </div>
        <div class="fields">
            <p>Unlimited Shows</p>
            {% if data %}
            <button class="my-account"><a href="" class="profile">{{data}}</a></button>
            {% else %}
            <button class="my-account"><a href="" class="profile">My Account</a></button>
            {% endif %}
            <button class="logout-btn"><a href="{% url 'logout' %}" class="logout">logout</a></button>
            
           
        </div>
    </div>
    
</body>
</html>